body {
    color: #333;
    height: 100vh;
    background: #222;
}

#wrapper {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;

}
::-webkit-scrollbar-thumb {
    background: #9E579D;
}
